*.dll
*.exe
*.exp
*.lib
*.log
*.oca
*.ocx

# VB6
*.vbw

# Lazarus
*.o
*.ppu
backup/
*.obj
*.lps
*.compiled

# Visual Studio
.vs/
x64/
*.user

# Visual Studio C++ 6
Debug/
Release/
*.ncb
*.opt
*.aps
*.plg
*.ilk
*.pdb

# Visual Studio Code
.vscode/
